/* Variables */
$color-one: #777777;
$color-two: #fed136;
$color-three: #f7f7f7;

$font-text: 'Lora', serif;
$font-header: 'Montserrat', sans-serif;
$font-logo: 'Lily Script One', cursive;

header {
    background-image: url("https://i.postimg.cc/Gp1BVxWN/vadim-sherbakov-t-CICLJ5kt-BE-unsplash.jpg");
    background-size: cover;
}

/*Nav*/

.logo {
    font-family: $font-logo;
    font-size: 28px;
    color: $color-two;
    margin-top: 50px;
}
.navigation {
    margin-top: 12px;
}
.navigation > row {
    margin-top: 0;
}
.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.navigation li {
    display: inline-block;
    margin: 60px 36px 0 0;
    position: relative;    
}
.navigation a {
    text-decoration: none;
    font-size: 18px;
    font-family: $font-header;
    color: #fff;
}
/*header*/
.splash {
    color: #fff;
    min-height: 700px;
    display: flex;
    
}
.splash-inner {
    margin: auto;
    max-width: 70%;
    font-family: $font-header;
    text-align: center;
}
.page-title{
    margin: 0;
    font-size: 86px;
    line-height: 1.2;
}
.page-subtitle {
    margin: 24px 0;
    font-family: $font-text;
    font-size: 48px;
    font-style: italic;
}
.btn {
    display: inline-block;
    min-width: 260px;
    margin: 40px auto 0 auto;
    padding: 24px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 0;
    background-color: $color-two;
    color: #fff;
}
/*services*/
.services {
    margin-top: 150px;
    text-align: center; 
    margin-bottom: 150px;
}
.section-title{
    font-family: $font-header;
    font-size: 50px;
    margin-bottom: 0;
}
.section-subtitle {    
    font-size: 18px;
    font-style: italic;  
    font-family: $font-text;
    color: $color-one;  
    margin-top: 0;
    margin-bottom: 120px;
}
p {
    font-family: $font-text;
    color: $color-one;
}
.col {
    margin-top: 80px;

}
.col i {
    font-size: 45px;
    background: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    color: $color-two;
    border-radius: 50%;
    border: 4px;
    border-style: solid;
}
.description {
    font-family: $font-header;
    font-size: 20px;
}
/*portfolio*/
.portfolio {
    text-align: center; 
    margin-bottom: 150px;
    background-color: $color-three;
}
.col {
    background: #fff;
    background-size: 350px;
    background-position: center;
}

.col img {
    max-width: 350px;
    height: 350px;
    object-fit: cover;
}
.col p {
    font-style: italic;
}


